.footer {
  background: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-links span,
.footer-social span {
  margin: 0 10px;
  cursor: pointer;
  color: #007bff;
}

.footer-copy {
  margin-top: 10px;
  font-size: 14px;
}

.footer-links span:hover,
.footer-social span:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 10px;
}
